# Navigation aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

# Some more aliases
alias tarc='tar -zcf'
alias tare='tar -zxf'
alias rr='rm -rf'

# Program aliases
alias python='python3'
alias pip='pip3'
alias vi='vim'

# git aliases
alias gita="git add"
alias gitb="git branch"
alias gitc="git commit -m"
alias gitd="git diff"
alias gitp="git push"
alias gits="git status"

